@model List<GetDeviceInfoDto>
<p>
    <ul>
        @foreach (var item in Model)
        {

        <li style="display:inline-table">Device: @item.DeviceId ===> FirstDate: @item.FirstDate ===> LastDate: @item.LastDate ===> EventId: @item.IdEvent ===> MachinId: @item.IdMachine ===> RefId: @item.RefId</li>
            <hr />

        }
    </ul>

    
</p>
